/*
dark.css
@author octopoulo <polluxyz@gmail.com>
@version 2021-02-14
- used in Live mode
- inherits from light.css
*/
body,
html {
    background: #333;
    color: #fff;
}
input,
select,
textarea {
    background: #222;
    border: 1px solid #666;
    color: #fff;
}
input:hover,
select:hover,
textarea:hover {
    border: 1px solid #777;
}
.popup {
    background: rgba(30, 30, 30, 0.98);
}
#modal {
    background: #2c3034;
    color: #fff;
}
#modal a {
    color: #fff;
}
.item:hover {
    background: rgba(255, 255, 255, 0.1)
}
.item2.active {
    background: rgba(100, 100, 200, 0.9);
}

/* board */
.xframe {
    background: rgba(255, 255, 255, 0.08);
}
#pva .xcolor0 {
    background: #e0e0e0;
}
#pva .xcolor1 {
    background: #1c1c1c;
}
#archive .xmoves,
#live .xmoves,
#pva .xmoves,
.moves {
    color: #dcdcdc;
}
.live-pv,
.xmoves {
    background: rgba(255, 255, 255, 0.85);
}
.percent {
    color: #bbb;
}
.book {
    color: #f90 !important;
}
.seen {
    color: #ff0 !important;
}
.draw {
    color: #f5f5f5;
}
#archive .real,
#live .real,
#pva .real,
.moves .real {
    color: #ddd;
}
.turn {
    color: #222;
}
#archive .turn,
#live .turn,
#pva .turn,
.moves .turn {
    color: #bbb;
}

/* tables */
.scroller tr:nth-child(2n) {
    background: rgba(1, 9, 26, 0.28);
}
.scroller tr:nth-child(2n + 1) {
    background: rgba(15, 30, 60, 0.2);
}
.scroller tr:hover {
    background: rgba(108, 157, 255, 0.05);
}
.scroller tr.active {
    background: rgba(200, 200, 200, 0.25);
}
.scroller tr.active:hover {
    background: rgba(200, 200, 200, 0.24);
}
#engine {
    background: linear-gradient(rgba(1, 9, 26, 0.28) 0%, rgba(1, 9, 26, 0.28) calc(100% - 48px), transparent calc(100% - 48px), transparent 100%);
}
#table-season a {
    color: #fff;
}
.game {
    color: #fa0;
}
.sub2 {
    color: #fc0;
}
.url,
.win {
    color: #4f1;
}
.tab,
.tab:hover {
    color: #dfdfdf;
}
.graphs {
    background: rgba(235, 235, 238, 0.75);
}
.stats {
    background: rgba(1, 9, 26, 0.28);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #ccc;
}
.stats-title {
    color: #fff;
}
.rotate hsub {
    color: #ccc;
}
.rotate th {
    background: rgba(0, 0, 0, 0.1);
    color: #fff;
    white-space: normal;
}

/* bracket */
.place1 {
    color: #da0;
}
.place2 {
    color: #aaa;
}
.place3 {
    color: #b64;
}
.place4 {
    color: #7aa;
}

/* lives */
#box-live0 .engine,
#table-live0 .engine {
    background: #007bff;
    color: #fff;
}
#box-live1 .engine,
#table-live1 .engine {
    background: #8b0000;
    color: #fff;
}
#box-pv0 .engine,
#moves-pv0 .engine {
    background: #666;
    color: #fff;
}
#box-pv1 .engine,
#moves-pv1 .engine {
    background: #000;
    color: #fff;
}

/* extras */
.dragging {
    background: rgba(255, 200, 200, 0.05);
}
#show-chat,
#show-video,
.adblock {
    color: #ddd;
}
.swap {
    color: rgba(255, 255, 255, 0.2);
}
.swap:hover {
    color: rgba(255, 255, 255, 0.5);
}
