/*
sea.css
@author octopoulo <polluxyz@gmail.com>
@version 2021-01-20
- inherits from light.css
*/
body,
html {
    background: #5ad;
}

/* board */
#archive .xmoves,
#live .xmoves,
#moves-pv0 .live-pv,
#pva .xmoves,
.moves {
    background: rgba(235, 235, 238, 0.4);
}
.xcontrol {
    color: #06d;
}
.control:hover {
    color: #04b;
}

/* tables */
.scroller tr:nth-child(2n) {
    background: rgba(255, 255, 255, 0.3);
}
.scroller tr:nth-child(2n + 1) {
    background: rgba(255, 255, 255, 0.2);
}
.scroller tr:hover {
    background: rgba(255, 255, 255, 0.45);
}
.tab {
    color: #fff;
}
.tab:hover {
    color: #ffc;
}
.tab.active {
    background: #b60;
    color: #fff;
}
#engine {
    background: linear-gradient(rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) calc(100% - 48px), transparent calc(100% - 48px), transparent 100%);
}
.graphs {
    background: rgba(235, 235, 238, 0.15);
}

/* bracket */
.round {
    color: rgba(255, 255, 255, 0.7);
}
.connect.loss {
    stroke: rgba(40, 40, 40, 0.6);
}
.connect.win {
    stroke: rgba(40, 40, 40, 0.3);
}

/* lives */
#box-live0 .engine,
#table-live0 .engine {
    color: #001aff;
}
#box-live1 .engine,
#table-live1 .engine {
    color: #db2a0b;
}
#box-pv0 .engine,
#moves-pv0 .engine {
    color: #fff;
}

/* extras */
#show-chat,
#show-video,
.adblock {
    border: 1px dotted #ff0;
    color: #ff0;
}
