.vscode/
*_.css
*_.js
*-original.js
*.bat
*.gz
*.jar
*.log
*.map
*.min.js
*.pgn
*.pyc
*.python
*.rar
*.swp
*.tmp
*.zip
*+.js
*~
4d.js
all.*
archive/
bracket*.json
c++/*.html
c++/*.js
c++/*.wasm
c++/shared*
chart2.js
coverage/
crash.json
create_list.js
crosstable.json
cutechess_parser.py
data*.json
debug.bat
dist/
dist/js/
doc/
engine-big/
enginerating.json
Eventcrosstable.json
gamelist.json
index.html
js/libs/chess.js
json/
kibitz/
live*.json
model/
new.json
node_modules/
package-lock.json
pull.bat
schedule.json
sound/*.js
stream.html
svg/
tcec.js
TCEC*
tempCodeRunnerFile.py
test?.html
tournament.json
winners.json
x.json
