*~
*.gz
*_.css
*.log
*.pgn
*.jar
*_.js
*-original.js
*+.js
*.min.js
*.pyc
*.python
*.rar
*.swp
*.tmp
*.zip
4d.js
all.*
archive/
bracket.json
chart.js
chess.js
crash.json
create_list.js
crosstable.json
data*.json
dist/
doc/
enginerating.json
gamelist.json
index.html
json/
live*.json
model/
new.json
node_modules/
package-lock.json
schedule.json
sound/*.js
stream.html
svg/
tcec.js
tempCodeRunnerFile.py
test?.html
tournament.json
winners.json
x.json
