/node_modules/
*.swp
*~
*.tmp
*.log
/package-lock.json

*.gz
*_.css
*.jar
*_.js
*-original.js
*+.js
*.min.js
*.pyc
*.python
*.rar
4d.js
all.*
archive/
bracket.json
chart.js
crash.json
create_list.js
crosstable.json
data*.json
doc/
enginerating.json
gamelist.json
index.html
json/
live*.json
model/
new.json
schedule.json
sound/*.js
stream.html
svg/
tempCodeRunnerFile.py
test?.html
tournament.json
winners.json
